.main-nav {
  background-color: #a9a9a9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.main-nav:hover {background-color: #000000;}

.btn {
  background-color: #a9a9a9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.form1-nav {
  position: relative;
  display: inline-block;
}

.btn-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.btn-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.btn-content a:hover {background-color: #ddd;}

.form1-nav:hover .btn-content {display: block;}

.form1-nav:hover .btn {background-color: #000000;}

/* form2 nav */
.btn2 {
  background-color: #a9a9a9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.form2-nav {
  position: relative;
  display: inline-block;
}

.btn2-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.btn2-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.btn2-content a:hover {background-color: #ddd;}

.form2-nav:hover .btn2-content {display: block;}

.form2-nav:hover .btn2 {background-color: #000000;}

/* form3 nav*/
.btn3 {
  background-color: #a9a9a9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.form3-nav {
  position: relative;
  display: inline-block;
}

.btn3-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.btn3-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.btn3-content a:hover {background-color: #ddd;}

.form3-nav:hover .btn3-content {display: block;}

.form3-nav:hover .btn3 {background-color: #000000;}

